@import url('~simpledotcss/simple.min.css');

ol,ul {padding-left: 0px !important}

li {
  list-style: none;
  margin-bottom: 20px;
}

sup {
  word-break: initial;
  text-decoration-line: none;
}

.row {
  width: 100%;
  max-width: 95%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: normal;
  justify-content: space-between;
  align-items: baseline;
}

summary {
  font-weight: normal;
}

details summary > * { 
  display: inline-flex;
}

details summary a,
  details summary p {
  max-width: 85%;
  margin-left: 5%;
}