.numbered {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    word-break: normal;
}

.alt {
    margin-right: 1em;
}
.indent-1 { margin-left: 1rem; }
.indent-2 { margin-left: 2rem; }
.indent-3 { margin-left: 3rem; }
.indent-4 { margin-left: 4rem; }
.indent-0 { margin-left: 0}
